<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
	<Appenders>
		<Console target="SYSTEM_OUT" name="console">
			<PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} [%-5level] %c{36} - %msg%ex{short}%n" />
		</Console>
		<RollingFile name="file">
			<FileName>/osg/OIs/RPD/reprint.log</FileName>
			<FilePattern>/osg/OIs/RPD/reprint-%d{MM-yyyy}.log</FilePattern>
			<PatternLayout>
				<Pattern>%d{dd-MM-yyyy HH:mm:ss} [%-5level] %c{36} - %msg%ex{short}%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"/>
			</Policies>
			<DefaultRolloverStrategy max="1" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="gov.dvla.osg.reprint" level="WARN">
			<AppenderRef ref="file" />
		</Logger>
		<Root level="all">
			<AppenderRef level="all" ref="console" />
		</Root>
	</Loggers>

</Configuration>